.review-container{
    margin-top: 100px;
}
.review-container h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: center;
}
.reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2.5rem 0;
}
.link-btn{
    text-align: center;
}
.review-card{
    background-color: black;
    padding: 1.8rem;
}
.review-card p{
    color: white;
    font-weight: 500;
    font-style: italic;
}
.review-card h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: #c2a43b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}