.banner{
    
    background-color: black;
    display: flex;
    height: 90vh;
    width: 100%;
    height: 100vh;
   
}

.head-lines{
    padding-top: 10rem;
    width: 80%;
    padding-left: 6rem;
    color: white;
}
.head-lines h1{
    font-size: 4rem;
    font-weight: 400;
}
.heading-1{
    color: #c2a43b;
}
.head-lines p{
    font-size: 1.2rem;
}
.banner-img{
    width: 100%;
}
.banner-img img{
    width: 100%;
    height: 100vh;
}
.start-btn{
    border: 0px;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    border: 2px solid white;
}
.start-btn:hover{
    background-color: rgb(223, 217, 217);
    color: black;
    border: 1px solid black;
}

@media only screen and (max-width: 776px){
    
    .banner{
    
        background-color: black;
        display: flex;

        height: 90vh;
        width: 100%;
        height: 100vh;
       
    }
    
    .head-lines{
        padding-top: 10rem;
        width: 100%;
        padding-left: 1rem;
        color: white;
    }
    .head-lines h1{
        font-size: 1.4rem;
        font-weight: 400;
    }
    .heading-1{
        color: #c2a43b;
    }
    .head-lines p{
        font-size: .7rem;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
        height: 100vh;
    }
    .start-btn{
        border: 0px;
        padding: 8px 20px;
        border-radius: 50px;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        border: 2px solid white;
    }
    .start-btn:hover{
        background-color: rgb(223, 217, 217);
        color: black;
        border: 1px solid black;
    }
}